root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.ahk]
indent_style = space
indent_size = 4

[*.ps1]
charset = utf-8-bom
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[config/watchdog.example.ini]
charset = utf-16le

[*.svg]
end_of_line = lf
